.MediaGrid {
  --w-internal-MediaGrid-block-spacing: var(--z-spacing-small-1);
  --w-internal-MediaGrid-item-min-inline-size: 10rem;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--w-internal-MediaGrid-item-min-inline-size), 1fr)
  );
  row-gap: var(--w-internal-MediaGrid-block-spacing);
  column-gap: var(--z-spacing-small-1);
  align-items: flex-start;
}

.blockSpacingLarge {
  --w-internal-MediaGrid-block-spacing: var(--z-spacing-large-1);
}

.MediaGridItem {
  --MediaGridItem-badge-size: 1.125rem;

  position: relative;
  z-index: 10;
  display: block;
  cursor: pointer;
  border-radius: var(--z-corner-radius-auto);
  transition:
    background 0.2s ease,
    transform 0.15s ease;
  text-decoration: none;
  color: var(--z-text-auto-color);
  /* touch-action: manipulation; */
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background: var(--z-Button-hovered-background);
  }

  &:active {
    transform: scale(0.95);
  }
}
