.MediaGrid {
  --w-internal-MediaGrid-block-spacing: var(--z-spacing-small-1);


  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--w-internal-MediaGrid-block-spacing);
  column-gap: var(--z-spacing-small-1);
  align-items: flex-start;
}

.blockSpacingLarge {
  --w-internal-MediaGrid-block-spacing: var(--z-spacing-large-1);
}

@media (min-width: 40em) {
  .MediaGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 50em) {
  .MediaGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
