.MediaGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--z-spacing-huge);
  column-gap: var(--z-spacing-small);
  align-items: flex-start;
}

@media (min-width: 40em) {
  .MediaGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 50em) {
  .MediaGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
