.PopoverTrigger {
  display: var(--z-implicit-display-none, var(--z-implicit-display-flex, flex));
  max-inline-size: var(--z-implicit-container-inline-size, max-content);
  align-items: stretch;
}

.PopoverSheet {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-stacking-layer-2);
  z-index: 500;
  background: var(--zest-color-surface-raised-1);
  border-radius: var(--zest-border-radius);
  max-width: 20rem;
  transition: transform 0.2s ease;
  transform-origin: 50% 0;
}

.PopoverSheet[data-state='inactive'],
.PopoverSheet[data-state='closing'] {
  transform: scale(0);
}

.PopoverSheet[data-state='opening'],
.PopoverSheet[data-state='open'] {
  transform: scale(100%);
}
