.Popover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-stacking-layer-2);
  background: var(--z-overlay-background-base);
  border-radius: var(--z-corner-radius-base);
  box-shadow: 0 2px 5px rgba(0 0 0 / 50%);
  max-width: 20rem;
  pointer-events: none;
  transition: transform 0.1s ease, opacity 0.15s ease;

  &[data-state='preparing'] {
    opacity: 0;
  }

  &[data-state='closed']
  &[data-state='closing'] {
    transform: scale(0.7);
    opacity: 0;
  }

  &[data-state='opening'],
  &[data-state='open'] {
    pointer-events: auto;
    transform: scale(100%);
    opacity: 1;
  }
}

.blockAttachmentStart {
  margin-block-end: var(--z-spacing-small);
  transform-origin: 50% 100%;
}

.blockAttachmentEnd {
  margin-block-start: var(--z-spacing-small);
  transform-origin: 50% 0;
}
