.Popover {
  background: var(--z-overlay-background-base);
  border-radius: var(--z-corner-radius-base);
  border: var(--z-border-subdued);
  box-shadow: 0 2px 5px rgba(0 0 0 / 50%);
  max-width: 20rem;
  transform: scale(100%);
  opacity: 1;
  margin: var(--z-spacing-small-1) var(--z-spacing-base);
}

.transitionOpenEnd,
.transitionCloseEnd {
  transition: transform 0.2s cubic-bezier(0.29, 1.66, 0.51, 0.88), opacity 0.15s ease;
}

.transitionOpenStart,
.transitionCloseEnd {
  transform: scale(0.7);
  opacity: 0;
}
