.Menu {
  --z-Menu-display: var(
    --z-implicit-display-none,
    var(--z-implicit-display, block)
  );
  --z-Menu-padding: var(--zest-spacing-mini);

  padding: var(--z-Menu-padding);
  display: var(--z-Menu-display);
  align-items: center;
}

:where(.Menu) > * {
  --x-implicit-display: block;
  --x-implicit-display-flex: flex;
  --x-implicit-display-grid: grid;
  --x-implicit-align: start;
  --x-implicit-container-inline-size: 100%;
}
