.Menu {
  --z-Menu-display: var(
    --z-implicit-display-none,
    var(--z-implicit-display, block)
  );
  --z-Menu-padding: var(--zest-spacing-mini);

  --z-implicit-display: block;
  --z-implicit-display-flex: flex;
  --z-implicit-display-grid: grid;
  --z-implicit-align-content: start;
  --z-implicit-connection-inline-start: initial;
  --z-implicit-connection-inline-end: initial;

  padding: var(--z-Menu-padding);
  display: var(--z-Menu-display);
  align-items: center;
}
