.spacingSmall2 {
  gap: var(--z-spacing-small-2);
}

.spacingSmall1 {
  gap: var(--z-spacing-small-1);
}

.spacingAuto {
  gap: var(--z-spacing-base);
}

.spacingBase {
  gap: var(--z-spacing-base);
}

.spacingLarge1 {
  gap: var(--z-spacing-large-1);
}

.spacingLarge2 {
  gap: var(--z-spacing-large-2);
}
