node_modules
.DS_STORE
*.log
.sewing-kit
build
cdk.out
app/graphql/types*
**/*.graphql.d.ts
**/*.graphql.ts
packages/cli/src/commands/develop/schema.ts
!packages/cli/src/commands/build/
.env
packages/*/bin

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
