node_modules
.DS_STORE
*.log
packages/*/build/
packages/*/bin/
packages/*/*.d.ts
packages/*/*.js
!packages/*/.eslintrc.js
packages/*/*.mjs
packages/*/*.esnext
.sewing-kit
build
cdk.out
app/graphql/types*
**/*.graphql.d.ts
packages/cli/src/dev/schema-types.d.ts
