node_modules
.DS_STORE
*.log
.quilt
build
cdk.out
app/graphql/types*
app/graphql/schema.ts
**/*.graphql.d.ts
**/*.graphql.ts
!packages/cli/source/commands/build/
packages/clips/source/graphql/**/*.ts
packages/clips/graphql/**/*.graphql
.env
packages/*/bin
