.InlineStack {
  --z-internal-divider-inline-size: initial;
  --z-internal-divider-block-size: 0;
  
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.spacingTiny {
  gap: var(--z-spacing-tiny);
}

.spacingSmall {
  gap: var(--z-spacing-small);
}

.spacingBase {
  gap: var(--z-spacing-base);
}

.spacingLarge {
  gap: var(--z-spacing-large);
}

.spacingHuge {
  gap: var(--z-spacing-huge);
}
