.TextAction {
  --z-Icon-auto-color: var(--z-Button-subdued-icon-color);

  --z-internal-TextAction-border: var(--z-border-subdued);
  --z-internal-TextAction-background: var(--z-Button-subdued-background);
  --z-internal-TextAction-shadow: var(--z-Button-subdued-shadow);
  --z-internal-TextAction-minimum-block-size: var(--z-text-auto-line-height);
  --z-internal-TextAction-block-padding: calc(
    (
        var(--z-Button-minimum-size) -
          var(--z-internal-TextAction-minimum-block-size)
      ) / 2
  );
  --z-internal-TextAction-visible-block-padding: var(--z-spacing-small-2);
  --z-internal-TextAction-icon-margin: var(--z-spacing-small-1);

  --z-internal-container-inline-size: initial;

  margin: calc(
      var(--z-internal-TextAction-visible-block-padding) -
        var(--z-internal-TextAction-block-padding)
    )
    calc(-1 * var(--z-spacing-small-1));
}

.Pressable {
  position: relative;
  padding: var(--z-internal-TextAction-block-padding) var(--z-spacing-small-1);

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: calc(
        var(--z-internal-TextAction-block-padding) -
          var(--z-internal-TextAction-visible-block-padding)
      )
      0;

    border: var(--z-border-subdued);
    border-radius: var(--z-corner-radius-auto);
    border: var(--z-internal-TextAction-border);
    background: var(--z-internal-TextAction-background);
    box-shadow: var(--z-internal-TextAction-shadow);

    transition: background 0.2s ease;
  }

  &:where(:hover) {
    --z-Icon-auto-color: var(--z-Button-subdued-hovered-icon-color);

    --z-internal-TextAction-background: var(
      --z-Button-subdued-hovered-background
    );
    --z-internal-TextAction-shadow: var(--z-Button-subdued-hovered-shadow);
  }

  &:where(:focus-visible) {
    --z-Icon-auto-color: var(--z-Button-subdued-focused-icon-color);

    --z-internal-TextAction-background: var(
      --z-Button-subdued-focused-background
    );
    --z-internal-TextAction-shadow: var(--z-Button-subdued-focused-shadow);
  }

  &:where(:active) {
    --z-Icon-auto-color: var(--z-Button-subdued-pressed-icon-color);

    --z-internal-TextAction-background: var(
      --z-Button-subdued-pressed-background
    );
    --z-internal-TextAction-shadow: var(--z-Button-subdued-pressed-shadow);
  }
}

.Icon {
  float: right;
  position: relative;
  top: calc(
    (var(--z-internal-TextAction-minimum-block-size) - var(--z-Icon-auto-size)) /
      2
  );
  margin-inline-start: var(--z-internal-TextAction-icon-margin);
  margin-block-end: calc(
    var(--z-internal-TextAction-minimum-block-size) - var(--z-Icon-auto-size)
  );
}
