.Text {
  margin: 0;
  overflow-wrap: anywhere;
  font-size: 1em;
}

.code {
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

.sizeSmall1 {
  font-size: 0.875em;
}

.sizeSmall2 {
  line-height: 1.15;
  font-size: 0.75em;
}

.emphasisSubdued {
  color: var(--z-text-subdued-color);
  font-weight: var(--z-text-subdued-weight);
}

.emphasisStrong {
  color: var(--z-text-emphasized-color);
  font-weight: var(--z-text-emphasized-weight);
}
