.Image {
  overflow: hidden;
  max-width: 100%;
  background-color: var(--z-surface-background-subdued);
}

.AspectRatio {
  position: relative;
}

.AspectRatio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@supports (object-fit: cover) {
  .fitContain {
    object-fit: contain;
  }

  .fitCover {
    object-fit: cover;
  }
}
