.BlockStack {
  align-content: var(--z-internal-block-alignment, stretch);
  align-items: var(--z-internal-block-alignment, stretch);
  justify-content: var(--z-internal-inline-alignment, stretch);
  justify-items: var(--z-internal-inline-alignment, stretch);
}

.alignStretch {
  --z-internal-inline-alignment: initial;
}

.alignStart {
  --z-internal-inline-alignment: start;
}

.alignEnd {
  --z-internal-inline-alignment: end;
}

.alignCenter {
  --z-internal-inline-alignment: center;
}
