.BlockStack {
  justify-content: stretch;
  align-items: center;
  justify-items: var(--z-internal-inline-alignment, stretch);
}

.spacingTiny {
  gap: var(--z-spacing-tiny);
}

.spacingSmall {
  gap: var(--z-spacing-small);
}

.spacingBase {
  gap: var(--z-spacing-base);
}

.spacingLarge {
  gap: var(--z-spacing-large);
}

.spacingHuge {
  gap: var(--z-spacing-huge);
}

.alignStretch {
  justify-items: stretch;
}

.alignStart {
  justify-items: start;
}

.alignEnd {
  justify-items: end;
}

.alignCenter {
  justify-items: center;
}
