.BlockStack {
  justify-content: stretch;
  align-items: center;
  justify-items: var(--z-internal-inline-alignment, stretch);
}

.alignStretch {
  justify-items: stretch;
}

.alignStart {
  justify-items: start;
}

.alignEnd {
  justify-items: end;
}

.alignCenter {
  justify-items: center;
}
