.LocalClip {
  border: var(--zest-border);
  border-width: 2px;
  padding: var(--zest-spacing-small);
}

.LocalClipHeading {
  margin: 0;
  margin-block-end: var(--zest-spacing-small);
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--zest-color-text-subdued);
}
