.TextField {
  background: var(--zest-color-action);
  border-radius: var(--zest-border-radius);
  overflow: hidden;
}

.Input {
  appearance: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  resize: vertical;
  font-size: 1rem;
  color: var(--zest-color-text);
  padding: var(--zest-spacing-mini) var(--zest-spacing);
}

.multiline {
  height: 4rem;
}
