.Layout {
  grid-template-rows: 1fr;
  grid-template: 1fr;
  align-items: stretch;
  justify-content: stretch;
}

.spacingTiny {
  gap: var(--z-spacing-tiny);
}

.spacingSmall {
  gap: var(--z-spacing-small);
}

.spacingBase {
  gap: var(--z-spacing-base);
}

.spacingLarge {
  gap: var(--z-spacing-large);
}

.spacingHuge {
  gap: var(--z-spacing-huge);
}

.inlineAlignmentStart {
  justify-content: start;
}

.inlineAlignmentEnd {
  justify-content: end;
}

.inlineAlignmentCenter {
  justify-content: center;
}

.blockAlignmentStart {
  align-items: start;
}

.blockAlignmentEnd {
  align-items: end;
}

.blockAlignmentCenter {
  align-items: center;
}
