.View:empty {
  --z-internal-display-none: none;
}

:where(.View) {
  --z-internal-display-block: initial;
  --z-internal-display-flex: initial;
  --z-internal-display-grid: initial;

  --z-internal-divider-inline-size: 0;
  --z-internal-divider-block-size: initial;

  display: var(
    --z-internal-display-none,
    var(--z-internal-display-block, block)
  );
}

.cornerRadiusBase {
  border-radius: var(--z-corner-radius-base);
  overflow: hidden;
}

.cornerRadiusConcentric {
  border-radius: calc(
    var(--z-container-corner-radius, 0) - var(--z-container-inset, 0)
  );
}

.borderBase {
  border-width: var(--z-border-base-size);
  border-color: var(--z-border-base-color);
  border-style: var(--z-border-base-style);
}

.borderSubdued {
  border-width: var(--z-border-subdued-size);
  border-color: var(--z-border-subdued-color);
  border-style: var(--z-border-subdued-style);
}

.borderEmphasized {
  border-width: var(--z-border-emphasized-size);
  border-color: var(--z-border-emphasized-color);
  border-style: var(--z-border-emphasized-style);
}

.backgroundBase {
  background-color: var(--z-surface-background-base);
}

.backgroundSubdued {
  background-color: var(--z-surface-background-subdued);
}

.backgroundEmphasized {
  background-color: var(--z-surface-background-emphasized);
}
