.SkeletonButton {
  --z-internal-SkeletonButton-content-size: 4rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--z-corner-radius-auto);
  block-size: var(--z-Button-minimum-size);
  padding: 0 var(--z-spacing-auto);
  background: var(--z-Button-background);

  &::after {
    content: '';
    display: block;
    inline-size: var(--z-internal-SkeletonButton-content-size);
    block-size: calc(0.8 * var(--z-text-auto-font-size));
    background-color: var(--z-text-subdued-color);
    border-radius: var(--z-corner-radius-auto);
  }
}

.sizeSmall {
  --z-internal-SkeletonButton-content-size: 2rem;
}

.sizeLarge {
  --z-internal-SkeletonButton-content-size: 8rem;
}
