.Spacer {
  min-block-size: var(--z-spacing-auto);
  min-inline-size: var(--z-spacing-auto);
}

.sizeNone {
  min-block-size: 0;
  min-inline-size: 0;
}

.sizeSmall2 {
  min-block-size: var(--z-spacing-small-2);
  min-inline-size: var(--z-spacing-small-2);
}

.sizeSmall1 {
  min-block-size: var(--z-spacing-small-1);
  min-inline-size: var(--z-spacing-small-1);
}

.sizeLarge1 {
  min-block-size: var(--z-spacing-large-1);
  min-inline-size: var(--z-spacing-large-1);
}

.sizeLarge2 {
  min-block-size: var(--z-spacing-large-2);
  min-inline-size: var(--z-spacing-large-2);
}

.stretch {
  margin: auto;
}
