.Button {
  appearance: none;
  border: none;
  background: none;
  transition: background 0.2s ease;
  font-size: 1rem;
  color: var(--zest-color-text-subdued);
  height: var(--zest-action-size);
  padding: 0 var(--zest-spacing-mini);
  border-radius: var(--zest-border-radius);
  overflow: hidden;
}

.primary {
  color: var(--zest-color-text);
  padding: 0 var(--zest-spacing);
  background: var(--zest-color-action-primary);
}

.primary:active,
.primary:hover,
.primary:focus {
  background: var(--zest-color-action-primary-active);
}
