.Button {
  appearance: none;
  border: none;
  background: var(--zest-color-action);
  transition: background 0.2s ease;
  font-size: 1rem;
  color: var(--zest-color-text);
  height: var(--zest-action-size);
  padding: 0 var(--zest-spacing-mini);
  border-radius: var(--zest-border-radius);
  overflow: hidden;
}

.Button:focus {
  outline: none;
}

.Button:active,
.Button:focus-visible {
  background: var(--zest-color-action-active);
}

.primary {
  padding: 0 var(--zest-spacing);
  background: var(--zest-color-action-primary);
}

.primary:active,
.primary:focus-visible {
  background: var(--zest-color-action-primary-active);
}
