.Button {
  appearance: none;
  border: none;
  background: var(--z-action-background);
  transition: background 0.2s ease;
  font-size: 1rem;
  color: var(--zest-color-text);
  height: var(--zest-action-size);
  padding: 0 var(--z-spacing-base);
  border-radius: var(--z-corner-radius-base);
  overflow: hidden;
}

.Button:hover {
  background: var(--z-action-hovered-background);
}

.Button:focus {
  outline: none;
}

.Button:focus-visible {
  background: var(--z-action-focused-background);
}

.Button:active {
  background: var(--z-action-pressed-background);
}

.primary {
  padding: 0 var(--zest-spacing);
  background: var(--zest-color-action-primary);
}

.primary:active,
.primary:focus-visible {
  background: var(--zest-color-action-primary-active);
}

.blockSizeFill {
  --z-Pressable-display: var(--z-implicit-display-none, block);
  inline-size: 100%;
}

.alignContentStart {
  --z-Pressable-align-content: start;
}

.alignContentEnd {
  --z-Pressable-align-content: end;
}
