.Pressable {
  --z-Pressable-align-content: var(--z-implicit-align-content, center);
  --z-Pressable-display: var(
    --z-implicit-display-none,
    var(--z-implicit-display, inline-block)
  );
  --z-Pressable-min-block-size: var(--zest-action-size);
  --z-Pressable-padding: var(--zest-spacing-mini);
  --z-Pressable-color: var(--zest-color-text);
  --z-Pressable-background: transparent;
  --z-Pressable-inline-size: var(--z-implicit-container-inline-size);

  appearance: none;
  border: none;
  background: var(--z-Pressable-background);
  transition: background 0.2s ease;
  font-size: 1rem;
  color: var(--z-Pressable-color);
  display: var(--z-Pressable-display);
  padding: var(--z-Pressable-padding);
  min-block-size: var(--z-Pressable-min-block-size);
  inline-size: var(--z-Pressable-inline-size);
  text-align: var(--z-Pressable-align-content);
  border-radius: var(
      --z-implicit-connection-inline-start,
      var(--zest-border-radius)
    )
    var(--z-implicit-connection-inline-end, var(--zest-border-radius))
    var(--z-implicit-connection-inline-end, var(--zest-border-radius))
    var(--z-implicit-connection-inline-start, var(--zest-border-radius));
  overflow: hidden;
  cursor: pointer;
}

.Pressable:focus {
  outline: none;
}

.Pressable:active,
.Pressable:focus-visible {
  --z-Pressable-background: var(--zest-color-action-active);
}

.blockSizeFill {
  --z-Pressable-display: var(--z-implicit-display-none, block);
  inline-size: 100%;
}

.alignContentStart {
  --z-Pressable-align-content: start;
}

.alignContentEnd {
  --z-Pressable-align-content: end;
}
