.Pressable {
  appearance: none;
  border: none;
  background: var(--zest-color-action);
  transition: background 0.2s ease;
  font-size: 1rem;
  color: var(--zest-color-text);
  min-height: var(--zest-action-size);
  padding: var(--zest-spacing-mini);
  border-radius: var(
      --x-implicit-connection-inline-start,
      var(--zest-border-radius)
    )
    var(--x-implicit-connection-inline-end, var(--zest-border-radius))
    var(--x-implicit-connection-inline-end, var(--zest-border-radius))
    var(--x-implicit-connection-inline-start, var(--zest-border-radius));
  overflow: hidden;
}

.Pressable:focus {
  outline: none;
}

.Pressable:active,
.Pressable:focus-visible {
  background: var(--zest-color-action-active);
}

.blockSizeFill {
  display: block;
  width: 100%;
}

.alignContentStart {
  text-align: start;
}

.alignContentEnd {
  text-align: end;
}
