.DateField {
  appearance: none;
  border: none;
  font-size: 1.25rem;
  min-block-size: var(--z-Action-minimum-size);
  background: transparent;
  color: inherit;
  border-radius: var(--z-corner-radius-base);
  padding: 0 var(--z-spacing-small-1);
  border: 1px solid var(--z-input-border-color);
  overflow: hidden;
}

.DateField:focus {
  outline: none;
  border-color: var(--z-input-focused-border-color);
}
