.Grid {
  grid-template-rows: 1fr;
  grid-template: 1fr;
  align-items: stretch;
  justify-content: stretch;
  grid-auto-flow: row;
}

.directionBlock {
  grid-auto-flow: column;
}

.inlineAlignmentStart {
  justify-content: start;
}

.inlineAlignmentEnd {
  justify-content: end;
}

.inlineAlignmentCenter {
  justify-content: center;
}

.blockAlignmentStart {
  align-items: start;
}

.blockAlignmentEnd {
  align-items: end;
}

.blockAlignmentCenter {
  align-items: center;
}
