.Choice {
  --z-internal-Choice-border-color: var(--z-Choice-border-color);
  --z-internal-Choice-corner-radius: 50%;
  --z-internal-Choice-text-line-block-size: calc(var(--z-text-base-line-height) * var(--z-text-base-font-size));
  --z-internal-Choice-block-inset: calc(
    (var(--z-Action-minimum-size) - var(--z-internal-Choice-text-line-block-size)) * -0.5
  );
  --z-internal-Choice-overlay-opacity: 0;
  --z-internal-Choice-overlay-scale: 0.25;
  --z-internal-Choice-focus-ring-opacity: 0;
  --z-internal-Choice-focus-ring-inset: 0.125rem;

  display: grid;
  grid-template-columns: auto 1fr;
  min-block-size: var(--z-Action-minimum-size);
  align-items: start;
  padding: calc(-1 * var(--z-internal-Choice-block-inset)) 0;
  margin: var(--z-internal-Choice-block-inset) 0;
  column-gap: var(--z-spacing-small);
  row-gap: var(--z-spacing-tiny);
}

.cornerRadiusBase {
  --z-internal-Choice-corner-radius: var(--z-corner-radius-base);
}

.cornerRadiusFullyRounded {
  --z-internal-Choice-corner-radius: 50%;
}

.Input {
  --z-internal-Choice-input-size: 1.25rem;

  position: relative;
  appearance: none;
  margin: 0;
  block-size: var(--z-internal-Choice-input-size);
  inline-size: var(--z-internal-Choice-input-size);
  border-radius: var(--z-internal-Choice-corner-radius);
  background-color: var(--z-Choice-background);
  border: var(--z-Choice-border-size) solid var(--z-internal-Choice-border-color);

  &:checked {
    --z-internal-Choice-overlay-opacity: 1;
    --z-internal-Choice-overlay-scale: 1;
  }
  
  &:focus-visible {
    --z-internal-Choice-focus-ring-opacity: 1;
    outline: 1px solid transparent;
  }

  &:disabled {
    --z-internal-Choice-border-color: var(--z-Choice-disabled-border-color);

    & + .Label {
      color: var(--z-text-subdued-color);
    }
  }
  
  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    inset: calc(-1 * (var(--z-internal-Choice-focus-ring-inset) + var(--z-Choice-border-size)));
    box-shadow: 0 0 0 0.125rem var(--z-Choice-focused-border-color);
    border-radius: calc(var(--z-internal-Choice-corner-radius) + var(--z-internal-Choice-focus-ring-inset));
    opacity: var(--z-internal-Choice-focus-ring-opacity);
    transition: opacity 0.2s ease;
  }

  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    inset: calc(-1 * var(--z-Choice-border-size));
    border: var(--z-Choice-border-size) solid var(--z-Choice-focused-border-color);
    background-color: var(--z-Choice-focused-background);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
    background-size: cover;
    border-radius: var(--z-internal-Choice-corner-radius);
    opacity: var(--z-internal-Choice-overlay-opacity);
    transform: var(--z-internal-Choice-overlay-scale);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
}

.HelpText {
  grid-column: 2;
  color: var(--z-text-subdued-color);
}
