.InlineStack {
  --x-InlineStack-spacing: var(--zest-spacing);

  gap: var(--x-InlineStack-spacing);
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
}

.spacingNone {
  --x-InlineStack-spacing: 0;
}

.spacingSmall {
  --x-InlineStack-spacing: var(--zest-spacing-small);
}

.spacingLarge {
  --x-InlineStack-spacing: var(--zest-spacing-small);
}
