.Stack {
  --Stack-spacing: var(--zest-spacing);

  display: grid;
  gap: var(--Stack-spacing);
  justify-content: stretch;
  align-items: center;
  align-content: center;
}

.inline {
  justify-content: start;
  grid-auto-flow: column;
}

.spacingNone {
  --Stack-spacing: 0;
}

.spacingSmall {
  --Stack-spacing: var(--zest-spacing-small);
}

.spacingLarge {
  --Stack-spacing: var(--zest-spacing-small);
}

.Item {
}
