html {
  height: -webkit-fill-available;
}

.Frame {
  position: relative;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-width: 100%;
  display: grid;
  grid-template-areas: 'header' 'content';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  align-items: stretch;
}

.hasNavigation > .Content {
  padding-inline-start: var(--zest-spacing-mini);
}

.Content {
  grid-area: 'content';
  position: relative;
  z-index: 100;
  overflow: auto;
  padding: var(--zest-spacing);
}

.Navigation {
  display: none;
  grid-area: 'navigation';
  padding: var(--zest-spacing) var(--zest-spacing-mini) var(--zest-spacing)
    var(--zest-spacing);
}

.Header {
  grid-area: 'header';
  padding: var(--zest-spacing-mini) var(--zest-spacing);
}

@media (min-width: 30em) {
  .hasNavigation {
    grid-template-areas: 'navigation content';
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
  }

  .Navigation {
    display: block;
  }

  .Header {
    display: none;
  }
}

.NavigationActivator {
  appearance: none;
  padding: var(--zest-spacing-mini);
  background: var(--zest-color-action);
  color: var(--zest-color-text);
  border-radius: var(--zest-border-radius);
  border: none;
}
