.BlockStack {
  --x-BlockStack-spacing: var(--x-spacing-base);
  --x-BlockStack-align: stretch;
  gap: var(--x-BlockStack-spacing);
  justify-content: stretch;
  align-items: center;
  justify-items: var(--x-BlockStack-align);
}

.spacingNone {
  --x-BlockStack-spacing: 0;
}

.spacingTiny {
  --x-BlockStack-spacing: var(--x-spacing-tiny);
}

.spacingSmall {
  --x-BlockStack-spacing: var(--x-spacing-small);
}

.spacingLarge {
  --x-BlockStack-spacing: var(--x-spacing-large);
}

.spacingHuge {
  --x-BlockStack-spacing: var(--x-spacing-huge);
}

.alignStretch {
  --x-BlockStack-align: stretch;
}

:where(.alignStretch) > * {
  --x-implicit-display-block: block;
  --x-implicit-display-flex: flex;
  --x-implicit-display-grid: grid;
  --x-implicit-container-inline-size: 100%;
}

.alignStart {
  --x-BlockStack-align: start;
}

.alignEnd {
  --x-BlockStack-align: end;
}

.alignCenter {
  --x-BlockStack-align: center;
}
