.View {
  display: var(--x-implicit-display, block);
}

.View > * {
  --x-implicit-display: initial;
  --x-implicit-container-inline-size: initial;
}

.cornerRadiusConcentric {
  border-radius: calc(
    var(--x-container-corner-radius, 0) - var(--x-container-inset, 0)
  );
}
