.Link {
  --z-Link-align-content: var(--z-implicit-align-content, center);
  --z-Link-display: var(
    --z-implicit-display-none,
    var(--z-implicit-display-flex, inline-flex)
  );
  --z-Link-min-block-size: var(--zest-action-size);
  --z-Link-padding: var(--zest-spacing-mini);
  --z-Link-color: var(--zest-color-text);
  --z-Link-background: transparent;
  --z-Link-inline-size: var(--z-implicit-container-inline-size);

  appearance: none;
  border: none;
  background: var(--z-Link-background);
  transition: background 0.2s ease;
  font-size: 1rem;
  color: var(--z-Link-color);
  display: var(--z-Link-display);
  padding: var(--z-Link-padding);
  min-block-size: var(--z-Link-min-block-size);
  inline-size: var(--z-Link-inline-size);
  text-align: var(--z-Link-align-content);
  border-radius: var(
      --z-implicit-connection-inline-start,
      var(--zest-border-radius)
    )
    var(--z-implicit-connection-inline-end, var(--zest-border-radius))
    var(--z-implicit-connection-inline-end, var(--zest-border-radius))
    var(--z-implicit-connection-inline-start, var(--zest-border-radius));
  overflow: hidden;
  text-decoration: none;
  align-items: center;
}

.Link:focus {
  outline: none;
}

.Link:active,
.Link:focus-visible {
  --z-Link-background: var(--zest-color-action-active);
}

.blockSizeFill {
  --z-implicit-container-inline-size: 100%;

  --z-Link-display: var(--z-implicit-display-none, flex);
}

.alignContentStart {
  --z-Link-align-content: start;
}

.alignContentEnd {
  --z-Link-align-content: end;
}
