.ContextualMenu {
  display: inline-flex;
  position: relative;
}

.active .Sheet {
  display: block;
}

.Action {
  height: var(--zest-action-size);
  width: var(--zest-action-size);
  appearance: none;
  border: none;
  background: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: background 0.2s ease;
  border-radius: var(--zest-border-radius);
}

.Action:focus,
.Action:hover,
.Action:active {
  outline: none;
  background: var(--zest-color-action);
}

.Sheet {
  position: absolute;
  right: 0;
  min-width: max-content;
  top: calc(100% + var(--zest-spacing-mini));
  background: var(--zest-color-surface-raised-2);
  border-radius: var(--zest-border-radius);
  display: none;
}

.MenuActions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.MenuAction {
  display: block;
  width: 100%;
  appearance: none;
  border: none;
  background: none;
  font-size: 1rem;
  color: var(--zest-color-text);
  height: var(--zest-action-size);
  padding: 0 var(--zest-spacing);
}
