.HeadingAction {
  --z-Icon-auto-color: var(--z-Button-subdued-icon-color);

  --z-internal-HeadingAction-border: var(--z-border-subdued);
  --z-internal-HeadingAction-background: var(--z-Button-subdued-background);
  --z-internal-HeadingAction-shadow: var(--z-Button-subdued-shadow);
  --z-internal-HeadingAction-block-padding: calc(
    (
        var(--z-Button-minimum-size) -
          var(--z-internal-HeadingAction-minimum-block-size)
      ) / 2
  );
  --z-internal-HeadingAction-visible-block-padding: var(--z-spacing-small-2);
  --z-internal-HeadingAction-icon-margin: var(--z-spacing-small-1);

  --z-internal-container-inline-size: initial;

  margin: calc(
      var(--z-internal-HeadingAction-visible-block-padding) -
        var(--z-internal-HeadingAction-block-padding)
    )
    calc(-1 * var(--z-spacing-small-1));
}

.level1 {
  --z-internal-HeadingAction-minimum-block-size: var(
    --z-Heading-level-1-line-height
  );
}

.level2 {
  --z-internal-HeadingAction-minimum-block-size: var(
    --z-Heading-level-2-line-height
  );
}

.level3 {
  --z-internal-HeadingAction-minimum-block-size: var(
    --z-Heading-level-3-line-height
  );
}

.level4 {
  --z-internal-HeadingAction-minimum-block-size: var(
    --z-Heading-level-4-line-height
  );
}

.level5 {
  --z-internal-HeadingAction-minimum-block-size: var(
    --z-Heading-level-5-line-height
  );
  --z-internal-HeadingAction-icon-margin: var(--z-spacing-small-2);
}

.level6 {
  --z-internal-HeadingAction-minimum-block-size: var(
    --z-Heading-level-6-line-height
  );
  --z-internal-HeadingAction-icon-margin: var(--z-spacing-small-2);
}

.Pressable {
  position: relative;
  padding: var(--z-internal-HeadingAction-block-padding)
    var(--z-spacing-small-1);

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: calc(
        var(--z-internal-HeadingAction-block-padding) -
          var(--z-internal-HeadingAction-visible-block-padding)
      )
      0;

    border: var(--z-border-subdued);
    border-radius: var(--z-corner-radius-auto);
    border: var(--z-internal-HeadingAction-border);
    background: var(--z-internal-HeadingAction-background);
    box-shadow: var(--z-internal-HeadingAction-shadow);

    transition: background 0.2s ease;
  }

  &:where(:hover) {
    --z-Icon-auto-color: var(--z-Button-subdued-hovered-icon-color);

    --z-internal-HeadingAction-background: var(
      --z-Button-subdued-hovered-background
    );
    --z-internal-HeadingAction-shadow: var(--z-Button-subdued-hovered-shadow);
  }

  &:where(:focus-visible) {
    --z-Icon-auto-color: var(--z-Button-subdued-focused-icon-color);

    --z-internal-HeadingAction-background: var(
      --z-Button-subdued-focused-background
    );
    --z-internal-HeadingAction-shadow: var(--z-Button-subdued-focused-shadow);
  }

  &:where(:active) {
    --z-Icon-auto-color: var(--z-Button-subdued-pressed-icon-color);

    --z-internal-HeadingAction-background: var(
      --z-Button-subdued-pressed-background
    );
    --z-internal-HeadingAction-shadow: var(--z-Button-subdued-pressed-shadow);
  }
}

.Icon {
  float: right;
  position: relative;
  top: calc(
    (
        var(--z-internal-HeadingAction-minimum-block-size) -
          var(--z-Icon-auto-size)
      ) / 2
  );
  margin-inline-start: var(--z-internal-HeadingAction-icon-margin);
}
