.Action {
  --z-Icon-base-color: var(--z-Action-icon-color);

  --z-internal-Action-border: var(--z-Action-border);
  --z-internal-Action-background: var(--z-Action-background);
  --z-internal-Action-divider-color: var(--z-Action-divider-color);
  --z-internal-Action-shadow: var(--z-Action-shadow);
  --z-internal-Action-text-color: var(--z-Action-text-color);
  --z-internal-Action-corner-radius: var(--z-corner-radius-base);
  --z-internal-Action-transition: background 0.2s ease, color 0.2s ease;
  --z-internal-Action-inline-padding: var(--z-spacing-base);
  --z-internal-Action-block-padding: var(
    --z-internal-Action-forced-block-padding,
    var(--z-spacing-tiny)
  );
  --z-internal-Action-alignment: center;

  --z-internal-Action-loading-indicator-opacity: 0;
  --z-internal-Action-loading-content-opacity: 1;
  --z-internal-Action-loading-opacity-transition: opacity 0.2s ease;

  position: relative;
  min-block-size: var(--z-Action-minimum-size);
  margin: calc(-1 * var(--z-internal-Action-inset-block-nudge, 0)) 0;
  padding: calc(
      var(--z-internal-Action-inset-block-size, 0px) +
        var(--z-internal-Action-block-padding)
    )
    var(--z-internal-Action-inline-padding);
  border-block-start: var(
    --z-internal-Action-inset-none,
    var(
      --z-internal-forced-block-start-divider,
      var(--z-internal-Action-border)
    )
  );
  border-block-end: var(
    --z-internal-Action-inset-none,
    var(
      --z-internal-forced-block-end-divider,
      var(--z-internal-Action-border)
    )
  );
  border-inline-start: var(
    --z-internal-Action-inset-none,
    var(
      --z-internal-forced-inline-start-divider,
      var(--z-internal-Action-border)
    )
  );
  border-inline-end: var(
    --z-internal-Action-inset-none,
    var(
      --z-internal-forced-inline-end-divider,
      var(--z-internal-Action-border)
    )
  );
  border-radius: var(
      --z-internal-Action-inset-none,
      var(
        --z-internal-forced-block-start-inline-start-corner-radius,
        var(--z-internal-Action-corner-radius)
      )
    )
    var(
      --z-internal-Action-inset-none,
      var(
        --z-internal-forced-block-start-inline-end-corner-radius,
        var(--z-internal-Action-corner-radius)
      )
    )
    var(
      --z-internal-Action-inset-none,
      var(
        --z-internal-forced-block-end-inline-end-corner-radius,
        var(--z-internal-Action-corner-radius)
      )
    )
    var(
      --z-internal-Action-inset-none,
      var(
        --z-internal-forced-block-end-inline-start-corner-radius,
        var(--z-internal-Action-corner-radius)
      )
    );
  background: var(
    --z-internal-Action-inset-none,
    var(--z-internal-Action-background)
  );
  box-shadow: var(
    --z-internal-Action-inset-none,
    var(--z-internal-Action-shadow)
  );
  color: var(--z-internal-Action-text-color);
  transition: var(--z-internal-Action-transition);

  &::before {
    z-index: -1;
    content: var(--z-internal-Action-inset-content);
    display: var(--z-internal-Action-inset-display, none);
  }

  &::before {
    pointer-events: none;
    position: absolute;
    top: var(--z-internal-Action-inset-block-size, 0);
    left: 0;
    right: 0;
    bottom: var(--z-internal-Action-inset-block-size, 0);
    border: var(--z-internal-Action-border);
    border-radius: var(
        --z-internal-forced-block-start-inline-start-corner-radius,
        var(--z-internal-Action-corner-radius)
      )
      var(
        --z-internal-forced-block-start-inline-end-corner-radius,
        var(--z-internal-Action-corner-radius)
      )
      var(
        --z-internal-forced-block-end-inline-end-corner-radius,
        var(--z-internal-Action-corner-radius)
      )
      var(
        --z-internal-forced-block-end-inline-start-corner-radius,
        var(--z-internal-Action-corner-radius)
      );
    background: var(--z-internal-Action-background);
    box-shadow: var(--z-internal-Action-shadow);
    transition: var(--z-internal-Action-transition);
  }

  &:where(:hover) {
    --z-Icon-base-color: var(--z-Action-hovered-icon-color);

    --z-internal-Action-border: var(--z-Action-hovered-border);
    --z-internal-Action-background: var(--z-Action-hovered-background);
    --z-internal-Action-divider-color: var(--z-Action-hovered-divider-color);
    --z-internal-Action-shadow: var(--z-Action-hovered-shadow);
    --z-internal-Action-text-color: var(--z-Action-hovered-text-color);
  }

  &:where(:focus-visible),
  &:where(.focused) {
    --z-Icon-base-color: var(--z-Action-focused-icon-color);

    --z-internal-Action-border: var(--z-Action-focused-border);
    --z-internal-Action-background: var(--z-Action-focused-background);
    --z-internal-Action-divider-color: var(--z-Action-focused-divider-color);
    --z-internal-Action-shadow: var(--z-Action-focused-shadow);
    --z-internal-Action-text-color: var(--z-Action-focused-text-color);
  }

  &:where(:active) {
    --z-Icon-base-color: var(--z-Action-pressed-icon-color);

    --z-internal-Action-border: var(--z-Action-pressed-border);
    --z-internal-Action-background: var(--z-Action-pressed-background);
    --z-internal-Action-divider-color: var(--z-Action-pressed-divider-color);
    --z-internal-Action-shadow: var(--z-Action-pressed-shadow);
    --z-internal-Action-text-color: var(--z-Action-pressed-text-color);
  }

  &:where(.selected) {
    --z-Icon-base-color: var(--z-Action-selected-icon-color);

    --z-internal-Action-border: var(--z-Action-selected-border);
    --z-internal-Action-background: var(--z-Action-selected-background);
    --z-internal-Action-divider-color: var(--z-Action-selected-divider-color);
    --z-internal-Action-shadow: var(--z-Action-selected-shadow);
    --z-internal-Action-text-color: var(--z-Action-selected-text-color);
  }

  &:where(.disabled) {
    --z-Icon-base-color: var(--z-Action-disabled-icon-color);

    --z-internal-Action-border: var(--z-Action-disabled-border);
    --z-internal-Action-background: var(--z-Action-disabled-background);
    --z-internal-Action-divider-color: var(--z-Action-disabled-divider-color);
    --z-internal-Action-shadow: var(--z-Action-disabled-shadow);
    --z-internal-Action-text-color: var(--z-Action-disabled-text-color);
  }

  &:where(.loading) {
    --z-Icon-base-color: var(--z-Action-loading-icon-color);

    --z-internal-Action-border: var(--z-Action-loading-border);
    --z-internal-Action-background: var(
      --z-Action-loading-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-loading-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-loading-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-loading-text-color
    );
  }
}

.emphasized {
  --z-Icon-base-color: var(--z-Action-emphasized-icon-color);

  --z-internal-Action-border: var(--z-Action-emphasized-border);
  --z-internal-Action-background: var(--z-Action-emphasized-background);
  --z-internal-Action-divider-color: var(--z-Action-emphasized-divider-color);
  --z-internal-Action-shadow: var(--z-Action-emphasized-shadow);
  --z-internal-Action-text-color: var(--z-Action-emphasized-text-color);

  &:where(:hover) {
    --z-Icon-base-color: var(--z-Action-emphasized-hovered-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-hovered-border);
    --z-internal-Action-background: var(
      --z-Action-emphasized-hovered-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-emphasized-hovered-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-emphasized-hovered-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-emphasized-hovered-text-color
    );
  }

  &:where(:focus-visible),
  &:where(.focused) {
    --z-Icon-base-color: var(--z-Action-emphasized-focused-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-focused-border);
    --z-internal-Action-background: var(
      --z-Action-emphasized-focused-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-emphasized-focused-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-emphasized-focused-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-emphasized-focused-text-color
    );
  }

  &:where(:active) {
    --z-Icon-base-color: var(--z-Action-emphasized-pressed-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-pressed-border);
    --z-internal-Action-background: var(
      --z-Action-emphasized-pressed-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-emphasized-pressed-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-emphasized-pressed-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-emphasized-pressed-text-color
    );
  }

  &:where(.selected) {
    --z-Icon-base-color: var(--z-Action-emphasized-selected-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-selected-border);
    --z-internal-Action-background: var(
      --z-Action-emphasized-selected-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-emphasized-selected-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-emphasized-selected-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-emphasized-selected-text-color
    );
  }

  &:where(.disabled) {
    --z-Icon-base-color: var(--z-Action-emphasized-disabled-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-disabled-border);
    --z-internal-Action-background: var(
      --z-Action-emphasized-disabled-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-emphasized-disabled-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-emphasized-disabled-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-emphasized-disabled-text-color
    );
  }

  &:where(.loading) {
    --z-Icon-base-color: var(--z-Action-emphasized-loading-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-loading-border);
    --z-internal-Action-background: var(
      --z-Action-emphasized-loading-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-emphasized-loading-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-emphasized-loading-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-emphasized-loading-text-color
    );
  }
}

.subdued {
  --z-Icon-base-color: var(--z-Action-subdued-icon-color);

  --z-internal-Action-border: var(--z-Action-subdued-border);
  --z-internal-Action-background: var(--z-Action-subdued-background);
  --z-internal-Action-divider-color: var(--z-Action-subdued-divider-color);
  --z-internal-Action-shadow: var(--z-Action-subdued-shadow);
  --z-internal-Action-text-color: var(--z-Action-subdued-text-color);

  &:where(:hover) {
    --z-Icon-base-color: var(--z-Action-subdued-hovered-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-hovered-border);
    --z-internal-Action-background: var(--z-Action-subdued-hovered-background);
    --z-internal-Action-divider-color: var(
      --z-Action-subdued-hovered-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-subdued-hovered-shadow);
    --z-internal-Action-text-color: var(--z-Action-subdued-hovered-text-color);
  }

  &:where(:focus-visible),
  &:where(.focused) {
    --z-Icon-base-color: var(--z-Action-subdued-focused-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-focused-border);
    --z-internal-Action-background: var(--z-Action-subdued-focused-background);
    --z-internal-Action-divider-color: var(
      --z-Action-subdued-focused-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-subdued-focused-shadow);
    --z-internal-Action-text-color: var(--z-Action-subdued-focused-text-color);
  }

  &:where(:active) {
    --z-Icon-base-color: var(--z-Action-subdued-pressed-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-pressed-border);
    --z-internal-Action-background: var(--z-Action-subdued-pressed-background);
    --z-internal-Action-divider-color: var(
      --z-Action-subdued-pressed-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-subdued-pressed-shadow);
    --z-internal-Action-text-color: var(--z-Action-subdued-pressed-text-color);
  }

  &:where(.selected) {
    --z-Icon-base-color: var(--z-Action-subdued-selected-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-selected-border);
    --z-internal-Action-background: var(--z-Action-subdued-selected-background);
    --z-internal-Action-divider-color: var(
      --z-Action-subdued-selected-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-subdued-selected-shadow);
    --z-internal-Action-text-color: var(--z-Action-subdued-selected-text-color);
  }

  &:where(.disabled) {
    --z-Icon-base-color: var(--z-Action-subdued-disabled-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-disabled-border);
    --z-internal-Action-background: var(--z-Action-subdued-disabled-background);
    --z-internal-Action-divider-color: var(
      --z-Action-subdued-disabled-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-subdued-disabled-shadow);
    --z-internal-Action-text-color: var(--z-Action-subdued-disabled-text-color);
  }

  &:where(.loading) {
    --z-Icon-base-color: var(--z-Action-subdued-loading-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-loading-border);
    --z-internal-Action-background: var(
      --z-Action-subdued-loading-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-subdued-loading-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-subdued-loading-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-subdued-loading-text-color
    );
  }
}

.destructive {
  --z-Icon-base-color: var(--z-Action-destructive-icon-color);

  --z-internal-Action-border: var(--z-Action-destructive-border);
  --z-internal-Action-background: var(--z-Action-destructive-background);
  --z-internal-Action-divider-color: var(--z-Action-destructive-divider-color);
  --z-internal-Action-shadow: var(--z-Action-destructive-shadow);
  --z-internal-Action-text-color: var(--z-Action-destructive-text-color);

  &:where(:hover) {
    --z-Icon-base-color: var(--z-Action-destructive-hovered-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-hovered-border);
    --z-internal-Action-background: var(
      --z-Action-destructive-hovered-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-destructive-hovered-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-destructive-hovered-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-destructive-hovered-text-color
    );
  }

  &:where(:focus-visible),
  &:where(.focused) {
    --z-Icon-base-color: var(--z-Action-destructive-focused-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-focused-border);
    --z-internal-Action-background: var(
      --z-Action-destructive-focused-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-destructive-focused-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-destructive-focused-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-destructive-focused-text-color
    );
  }

  &:where(:active) {
    --z-Icon-base-color: var(--z-Action-destructive-pressed-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-pressed-border);
    --z-internal-Action-background: var(
      --z-Action-destructive-pressed-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-destructive-pressed-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-destructive-pressed-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-destructive-pressed-text-color
    );
  }

  &:where(.selected) {
    --z-Icon-base-color: var(--z-Action-destructive-selected-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-selected-border);
    --z-internal-Action-background: var(
      --z-Action-destructive-selected-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-destructive-selected-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-destructive-selected-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-destructive-selected-text-color
    );
  }

  &:where(.disabled) {
    --z-Icon-base-color: var(--z-Action-destructive-disabled-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-disabled-border);
    --z-internal-Action-background: var(
      --z-Action-destructive-disabled-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-destructive-disabled-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-destructive-disabled-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-destructive-disabled-text-color
    );
  }

  &:where(.loading) {
    --z-Icon-base-color: var(--z-Action-destructive-loading-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-loading-border);
    --z-internal-Action-background: var(
      --z-Action-destructive-loading-background
    );
    --z-internal-Action-divider-color: var(
      --z-Action-destructive-loading-divider-color
    );
    --z-internal-Action-shadow: var(--z-Action-destructive-loading-shadow);
    --z-internal-Action-text-color: var(
      --z-Action-destructive-loading-text-color
    );
  }
}

.sizeSmall {
  --z-internal-Action-inset-content: '';
  --z-internal-Action-inset-display: block;
  --z-internal-Action-inset-none: none;
  --z-internal-Action-inset-block-size: var(--z-spacing-small);
  --z-internal-Action-inset-block-nudge: var(
    --z-internal-Action-inset-block-size
  );

  --z-internal-Action-inline-padding: var(--z-spacing-small);
}

.spacing {
  gap: var(--z-spacing-small);
}

.hasIcon {
  grid-template-columns: auto auto;
  

  & > *:first-child {
    align-self: var(--z-internal-Action-alignment);
  }

  &:not(.sizeSmall) > *:first-child {
    margin-inline-start: calc(-0.5 * var(--z-spacing-small));

    &:only-child {
      margin-inline-end: calc(-0.5 * var(--z-spacing-small));
    }
  }

  &.sizeSmall > *:first-child {
    margin-block-start: calc(-0.5 * var(--z-Icon-base-size));
    margin-block-end: calc(-0.5 * var(--z-Icon-base-size));
  }
}

.iconAlignmentStart {
  --z-internal-Action-alignment: start;
}

.iconAlignmentEnd {
  --z-internal-Action-alignment: end;
}

.iconAlignmentCenter {
  --z-internal-Action-alignment: center;
}

.Content {
  opacity: var(--z-internal-Action-loading-content-opacity);
  transition: var(--z-internal-Action-loading-opacity-transition);
}

.hasDetail {
  grid-template-columns: 1fr auto;
}

.hasIcon.hasDetail {
  grid-template-columns: auto 1fr auto;
}

.loading {
  --z-internal-Action-loading-indicator-opacity: 1;

  &:not(.hasIcon) {
    --z-internal-Action-loading-content-opacity: 0;
  }

  &.hasIcon {
    --z-internal-Action-loading-icon-opacity: 0;
  }
}

.IconContainer {
  position: relative;
}

.Icon {
  opacity: var(--z-internal-Action-loading-icon-opacity);
  transition: var(--z-internal-Action-loading-opacity-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoadingContent {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: var(--z-internal-Action-loading-indicator-opacity);
  transition: var(--z-internal-Action-loading-opacity-transition);
}

.LoadingIcon {
  --z-internal-Loading-icon-size: 1.25rem;

  width: var(--z-internal-Loading-icon-size);
  height: var(--z-internal-Loading-icon-size);
  position: relative;
}

.LoadingIcon::after,
.LoadingIcon::before {
  content: '';  
  box-sizing: border-box;
  width: var(--z-internal-Loading-icon-size);
  height: var(--z-internal-Loading-icon-size);
  border-radius: 50%;
  background: var(--z-Icon-base-color);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 1.2s ease-out infinite;
}

.LoadingIcon::after {
  animation-delay: 0.6s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* .LoadingIcon {
  --z-internal-Loading-icon-size: 1.25rem;

  margin-top: calc(var(--z-internal-Loading-icon-size) * -0.25);
  width: var(--z-internal-Loading-icon-size);
  height: var(--z-internal-Loading-icon-size);
  display: block;
  position: relative;
  color: #FFF;
  animation: rotation 1s linear infinite;

  &::before,
  &::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    width: calc(var(--z-internal-Loading-icon-size) * 0.5);
    height: calc(var(--z-internal-Loading-icon-size) * 0.5);
    top: 0;
    background-color: #FFF;
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
  }
}

.LoadingIcon::before {
  top: auto;
  bottom: 0;
  opacity: 0.35;
  animation-delay: 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes scale50 {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}  */

.ActionContainer {
  display: var(
    --z-internal-display-none,
    var(--z-internal-display-grid, inline-grid)
  );
  grid-template-columns: 1fr auto;
}

.connectedMain {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-inline-end: 1px solid var(--z-internal-Action-divider-color);
}

.connectedAccessory {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
