.Action {
  --z-Icon-base-color: var(--z-Action-icon-color);

  --z-internal-Action-border: var(--z-Action-border);
  --z-internal-Action-background: var(--z-Action-background);
  --z-internal-Action-divider-color: var(--z-Action-divider-color);
  --z-internal-Action-shadow: var(--z-Action-shadow);
  --z-internal-Action-text-color: var(--z-Action-text-color);
  --z-internal-Action-corner-radius: var(--z-corner-radius-base);
  --z-internal-Action-transition: background 0.2s ease;

  min-block-size: var(--z-Action-minimum-size);
  padding: var(--z-spacing-tiny) var(--z-spacing-base);
  border: var(--z-internal-Action-border);
  border-radius: var(--z-internal-Action-corner-radius);
  background: var(--z-internal-Action-background);
  box-shadow: var(--z-internal-Action-shadow);
  color: var(--z-internal-Action-text-color);
  transition: var(--z-internal-Action-transition);

  &::before {
    display: none;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--z-internal-Action-border);
    border-radius: var(--z-internal-Action-corner-radius);
    background: var(--z-internal-Action-background);
    box-shadow: var(--z-internal-Action-shadow);
    transition: var(--z-internal-Action-transition);
  }

  &:where(:hover) {
    --z-Icon-base-color: var(--z-Action-hovered-icon-color);

    --z-internal-Action-border: var(--z-Action-hovered-border);
    --z-internal-Action-background: var(--z-Action-hovered-background);
    --z-internal-Action-divider-color: var(--z-Action-hovered-divider-color);
    --z-internal-Action-shadow: var(--z-Action-hovered-shadow);
    --z-internal-Action-text-color: var(--z-Action-hovered-text-color);
  }

  &:where(:focus-visible) {
    --z-Icon-base-color: var(--z-Action-focused-icon-color);

    --z-internal-Action-border: var(--z-Action-focused-border);
    --z-internal-Action-background: var(--z-Action-focused-background);
    --z-internal-Action-divider-color: var(--z-Action-focused-divider-color);
    --z-internal-Action-shadow: var(--z-Action-focused-shadow);
    --z-internal-Action-text-color: var(--z-Action-focused-text-color);
  }

  &:where(:active) {
    --z-Icon-base-color: var(--z-Action-pressed-icon-color);

    --z-internal-Action-border: var(--z-Action-pressed-border);
    --z-internal-Action-background: var(--z-Action-pressed-background);
    --z-internal-Action-divider-color: var(--z-Action-pressed-divider-color);
    --z-internal-Action-shadow: var(--z-Action-pressed-shadow);
    --z-internal-Action-text-color: var(--z-Action-pressed-text-color);
  }

  &:where(:disabled) {
    --z-Icon-base-color: var(--z-Action-disabled-icon-color);

    --z-internal-Action-border: var(--z-Action-disabled-border);
    --z-internal-Action-background: var(--z-Action-disabled-background);
    --z-internal-Action-divider-color: var(--z-Action-disabled-divider-color);
    --z-internal-Action-shadow: var(--z-Action-disabled-shadow);
    --z-internal-Action-text-color: var(--z-Action-disabled-text-color);
  }
}

.emphasized {
  --z-Icon-base-color: var(--z-Action-emphasized-icon-color);

  --z-internal-Action-border: var(--z-Action-emphasized-border);
  --z-internal-Action-background: var(--z-Action-emphasized-background);
  --z-internal-Action-divider-color: var(--z-Action-emphasized-divider-color);
  --z-internal-Action-shadow: var(--z-Action-emphasized-shadow);
  --z-internal-Action-text-color: var(--z-Action-emphasized-text-color);

  &:where(:hover) {
    --z-Icon-base-color: var(--z-Action-emphasized-hovered-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-hovered-border);
    --z-internal-Action-background: var(--z-Action-emphasized-hovered-background);
    --z-internal-Action-divider-color: var(--z-Action-emphasized-hovered-divider-color);
    --z-internal-Action-shadow: var(--z-Action-emphasized-hovered-shadow);
    --z-internal-Action-text-color: var(--z-Action-emphasized-hovered-text-color);
  }

  &:where(:focus-visible) {
    --z-Icon-base-color: var(--z-Action-emphasized-focused-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-focused-border);
    --z-internal-Action-background: var(--z-Action-emphasized-focused-background);
    --z-internal-Action-divider-color: var(--z-Action-emphasized-focused-divider-color);
    --z-internal-Action-shadow: var(--z-Action-emphasized-focused-shadow);
    --z-internal-Action-text-color: var(--z-Action-emphasized-focused-text-color);
  }

  &:where(:active) {
    --z-Icon-base-color: var(--z-Action-emphasized-pressed-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-pressed-border);
    --z-internal-Action-background: var(--z-Action-emphasized-pressed-background);
    --z-internal-Action-divider-color: var(--z-Action-emphasized-pressed-divider-color);
    --z-internal-Action-shadow: var(--z-Action-emphasized-pressed-shadow);
    --z-internal-Action-text-color: var(--z-Action-emphasized-pressed-text-color);
  }

  &:where(:disabled) {
    --z-Icon-base-color: var(--z-Action-emphasized-disabled-icon-color);

    --z-internal-Action-border: var(--z-Action-emphasized-disabled-border);
    --z-internal-Action-background: var(--z-Action-emphasized-disabled-background);
    --z-internal-Action-divider-color: var(--z-Action-emphasized-disabled-divider-color);
    --z-internal-Action-shadow: var(--z-Action-emphasized-disabled-shadow);
    --z-internal-Action-text-color: var(--z-Action-emphasized-disabled-text-color);
  }
}

.subdued {
  --z-Icon-base-color: var(--z-Action-subdued-icon-color);

  --z-internal-Action-border: var(--z-Action-subdued-border);
  --z-internal-Action-background: var(--z-Action-subdued-background);
  --z-internal-Action-divider-color: var(--z-Action-subdued-divider-color);
  --z-internal-Action-shadow: var(--z-Action-subdued-shadow);
  --z-internal-Action-text-color: var(--z-Action-subdued-text-color);

  &:where(:hover) {
    --z-Icon-base-color: var(--z-Action-subdued-hovered-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-hovered-border);
    --z-internal-Action-background: var(--z-Action-subdued-hovered-background);
    --z-internal-Action-divider-color: var(--z-Action-subdued-hovered-divider-color);
    --z-internal-Action-shadow: var(--z-Action-subdued-hovered-shadow);
    --z-internal-Action-text-color: var(--z-Action-subdued-hovered-text-color);
  }

  &:where(:focus-visible) {
    --z-Icon-base-color: var(--z-Action-subdued-focused-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-focused-border);
    --z-internal-Action-background: var(--z-Action-subdued-focused-background);
    --z-internal-Action-divider-color: var(--z-Action-subdued-focused-divider-color);
    --z-internal-Action-shadow: var(--z-Action-subdued-focused-shadow);
    --z-internal-Action-text-color: var(--z-Action-subdued-focused-text-color);
  }

  &:where(:active) {
    --z-Icon-base-color: var(--z-Action-subdued-pressed-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-pressed-border);
    --z-internal-Action-background: var(--z-Action-subdued-pressed-background);
    --z-internal-Action-divider-color: var(--z-Action-subdued-pressed-divider-color);
    --z-internal-Action-shadow: var(--z-Action-subdued-pressed-shadow);
    --z-internal-Action-text-color: var(--z-Action-subdued-pressed-text-color);
  }

  &:where(:disabled) {
    --z-Icon-base-color: var(--z-Action-subdued-disabled-icon-color);

    --z-internal-Action-border: var(--z-Action-subdued-disabled-border);
    --z-internal-Action-background: var(--z-Action-subdued-disabled-background);
    --z-internal-Action-divider-color: var(--z-Action-subdued-disabled-divider-color);
    --z-internal-Action-shadow: var(--z-Action-subdued-disabled-shadow);
    --z-internal-Action-text-color: var(--z-Action-subdued-disabled-text-color);
  }
}

.destructive {
  --z-Icon-base-color: var(--z-Action-destructive-icon-color);

  --z-internal-Action-border: var(--z-Action-destructive-border);
  --z-internal-Action-background: var(--z-Action-destructive-background);
  --z-internal-Action-divider-color: var(--z-Action-destructive-divider-color);
  --z-internal-Action-shadow: var(--z-Action-destructive-shadow);
  --z-internal-Action-text-color: var(--z-Action-destructive-text-color);

  &:where(:hover) {
    --z-Icon-base-color: var(--z-Action-destructive-hovered-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-hovered-border);
    --z-internal-Action-background: var(--z-Action-destructive-hovered-background);
    --z-internal-Action-divider-color: var(--z-Action-destructive-hovered-divider-color);
    --z-internal-Action-shadow: var(--z-Action-destructive-hovered-shadow);
    --z-internal-Action-text-color: var(--z-Action-destructive-hovered-text-color);
  }

  &:where(:focus-visible) {
    --z-Icon-base-color: var(--z-Action-destructive-focused-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-focused-border);
    --z-internal-Action-background: var(--z-Action-destructive-focused-background);
    --z-internal-Action-divider-color: var(--z-Action-destructive-focused-divider-color);
    --z-internal-Action-shadow: var(--z-Action-destructive-focused-shadow);
    --z-internal-Action-text-color: var(--z-Action-destructive-focused-text-color);
  }

  &:where(:active) {
    --z-Icon-base-color: var(--z-Action-destructive-pressed-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-pressed-border);
    --z-internal-Action-background: var(--z-Action-destructive-pressed-background);
    --z-internal-Action-divider-color: var(--z-Action-destructive-pressed-divider-color);
    --z-internal-Action-shadow: var(--z-Action-destructive-pressed-shadow);
    --z-internal-Action-text-color: var(--z-Action-destructive-pressed-text-color);
  }

  &:where(:disabled) {
    --z-Icon-base-color: var(--z-Action-destructive-disabled-icon-color);

    --z-internal-Action-border: var(--z-Action-destructive-disabled-border);
    --z-internal-Action-background: var(--z-Action-destructive-disabled-background);
    --z-internal-Action-divider-color: var(--z-Action-destructive-disabled-divider-color);
    --z-internal-Action-shadow: var(--z-Action-destructive-disabled-shadow);
    --z-internal-Action-text-color: var(--z-Action-destructive-disabled-text-color);
  }
}

.sizeSmall {
  --z-internal-Action-small-block-inset: var(--z-spacing-small);
  
  position: relative;
  padding: var(--z-internal-Action-small-block-inset) var(--z-spacing-small);
  margin-block-start: calc(-1 * var(--z-internal-Action-small-block-inset));
  margin-block-end: calc(-1 * var(--z-internal-Action-small-block-inset));
  background: none;
  border: none;
  box-shadow: none;

  &::before {
    content: '';
    display: block;
    top: var(--z-internal-Action-small-block-inset);
    bottom: var(--z-internal-Action-small-block-inset);
  }
}

.spacing {
  gap: var(--z-spacing-small);
}

.hasIcon {
  grid-template-columns: auto 1fr;
}

.hasSecondaryIcon {
  grid-template-columns: 1fr auto;
}

.hasIcon.hasSecondaryIcon {
  grid-template-columns: auto 1fr auto;
}

.ActionContainer {
  display: var(
    --z-internal-display-none,
    var(--z-internal-display-grid, inline-grid)
  );
  grid-template-columns: 1fr auto;
}

.connectedMain {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-inline-end: 1px solid var(--z-internal-Action-divider-color);
}

.connectedAccessory {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
