.Pressable {
  background: none;
  appearance: none;
  padding: 0;
  border: none;
  font-size: 1rem;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  inline-size: var(--z-internal-container-inline-size);
  border-radius: 0;
  align-items: center;
  justify-content: var(--z-internal-inline-alignment, center);
  text-align: var(--z-internal-inline-alignment, center);
  text-decoration: none;
  cursor: pointer;
  word-break: break-word;
  -webkit-tap-highlight-color: rgba(0 0 0 / 0%);
}

.Pressable:focus {
  outline: none;
}

.blockSizeFill {
  inline-size: 100%;
}

.disabled {
  pointer-events: none;
}
