*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-block-size: 100vh;
  min-block-size: 100dvh;
}

body {
  touch-action: manipulation;
  background: var(--z-surface-background-base);
  color: var(--z-text-base-color);
  font-weight: var(--z-text-base-weight);
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  scrollbar-gutter: stable;
}

:global(:where(#app)) {
  position: relative;
  z-index: 0;
  min-block-size: 100vh;
  min-block-size: 100dvh;
}

.Portals {
  position: relative;
  z-index: 2;
}
