.Pressable {
  --x-Pressable-display: var(
    --x-implicit-display-none,
    var(--x-implicit-display-block, inline-block)
  );
  --x-Pressable-align: var(--x-implicit-align, center);
  --x-Pressable-padding: 0;
  --x-Pressable-color: inherit;
  --x-Pressable-background: transparent;
  --x-Pressable-inline-size: var(--x-implicit-container-inline-size);
  --x-Pressable-border-radius: 0;

  appearance: none;
  border: none;
  background: transparent;
  font-size: 1em;
  color: var(--x-Pressable-color);
  display: var(--x-Pressable-display);
  padding: var(--x-Pressable-padding);
  inline-size: var(--x-Pressable-inline-size);
  text-align: var(--x-Pressable-align);
  border-radius: var(--x-implicit-connection-inline-start, 0)
    var(--x-implicit-connection-inline-end, 0)
    var(--x-implicit-connection-inline-end, 0)
    var(--x-implicit-connection-inline-start, 0);
  overflow: hidden;
  cursor: pointer;
}

.alignStart {
  --x-Pressable-align: var(--x-implicit-align, start);
}

.alignEnd {
  --x-Pressable-align: var(--x-implicit-align, end);
}

.Pressable:focus {
  outline: none;
}
