.SkeletonText {
  display: inline-flex;
  align-items: end;
  max-inline-size: 100%;
  inline-size: 4rem;
  block-size: var(--z-text-base-line-height);

  &::after {
    content: '';
    display: inline-block;
    inline-size: 100%;
    block-size: calc(0.8 * var(--z-text-base-font-size));
    background-color: var(--z-text-subdued-color);
    border-radius: var(--z-corner-radius-base);
    margin-bottom: calc(0.1 * var(--z-text-base-font-size));
  }
}

.sizeSmall {
  inline-size: 4rem;
}

.sizeMedium {
  inline-size: 8rem;
}

.sizeLarge {
  inline-size: 12rem;
}
