.SkeletonText {
  display: inline-block;
  max-inline-size: 100%;
  inline-size: 4rem;
  block-size: 0.85rem;
  background-color: var(--z-text-base-color);
  border-radius: var(--z-corner-radius-base);
}

.sizeSmall {
  inline-size: 4rem;
}

.sizeMedium {
  inline-size: 8rem;
}

.sizeLarge {
  inline-size: 12rem;
}
