.WatchThrough {
  --WatchThrough-badge-size: 1.125rem;

  position: relative;
  z-index: 10;
  display: block;
  border-radius: 0 0 var(--z-corner-radius-base) var(--z-corner-radius-base);
  transition: background 0.2s ease, transform 0.15s ease;
  text-decoration: none;
  color: var(--z-text-base-color);
  /* touch-action: manipulation; */
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.WatchThrough:hover,
.WatchThrough:focus,
.WatchThrough:active {
  outline: none;
  background: var(--z-Action-hovered-background);
}

.WatchThrough:active {
  transform: scale(0.95);
}

.WatchThroughContainer {
  position: relative;
}

.WatchThroughNextEpisodeTiming {
  margin: 0;
  font-weight: 700;
  line-height: 1.15;
  font-size: 0.75rem;
  color: var(--z-text-subdued-color);
  text-transform: uppercase;
}

.WatchThroughFootnote {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 20;
}
