.WatchThroughContainer {
  position: relative;
}

.WatchThroughNextEpisodeTiming {
  text-transform: uppercase;
}

.WatchThroughFootnote {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 20;
}
