.WatchThrough {
  position: relative;
  z-index: 10;
  display: block;
  border-radius: 0 0 var(--z-corner-radius-base) var(--z-corner-radius-base);
  transition: background 0.2s ease, transform 0.15s ease;
  text-decoration: none;
  color: var(--z-text-base-color);
  /* touch-action: manipulation; */
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.WatchThrough:hover,
.WatchThrough:focus,
.WatchThrough:active {
  outline: none;
  background: rgb(30, 30, 30);
}

.WatchThrough:active {
  transform: scale(0.95);
}

.hasFootnotes .WatchThroughContent {
  padding-bottom: calc(
    var(--WatchThrough-content-padding) + var(--z-spacing-small)
  );
}

.WatchThroughContainer {
  position: relative;
}

.WatchThroughContent {
  --WatchThrough-content-padding: var(--z-spacing-small);
  padding: var(--WatchThrough-content-padding);
}

.WatchThroughNextEpisodeMeta {
  display: flex;
  align-items: center;
  margin-bottom: var(--z-spacing-small);
  margin-top: -2px;
}

.WatchThroughIndicator {
  --WatchThrough-indicator-size: 0.5em;

  display: block;
  flex: 0 0 auto;
  width: var(--WatchThrough-indicator-size);
  height: var(--WatchThrough-indicator-size);
  background: rgba(255, 255, 0, 0.8);
  border-radius: 50%;
  margin-bottom: -1px;
  margin-right: calc(0.5 * var(--WatchThrough-indicator-size));
}

.WatchThroughNextEpisodeTiming {
  margin: 0;
  font-weight: 700;
  line-height: 1.15;
  font-size: 0.75rem;
  color: var(--z-text-subdued-color);
  text-transform: uppercase;
}

.WatchThroughNextEpisodeTitle {
  margin: 0;
}

.WatchThroughFootnote {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 20;
}

.WatchThroughBadge {
  display: inline-block;
  padding: 0.1rem 0.4rem 0.15rem;
  border-radius: var(--z-corner-radius-small);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: black;
  white-space: nowrap;
  background-color: rgb(100, 100, 100);
  font-size: 0.7rem;
}
