.Layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template: 1fr;
  align-items: stretch;
}

.Layout > * {
  --x-implicit-connection-inline-start: 0;
  --x-implicit-connection-inline-end: 0;
}

.Layout > *:first-child {
  --x-implicit-connection-inline-start: initial;
}

.Layout > *:last-child {
  --x-implicit-connection-inline-end: initial;
}
