.Menu {
  display: var(--z-implicit-display-none, grid);
  grid-template-columns: 1fr;
  gap: var(--z-spacing-tiny);
  padding: var(--z-spacing-small);
  align-items: center;
}

:where(.Menu) > * {
  --z-internal-display: block;
  --z-internal-display-flex: flex;
  --z-internal-display-grid: grid;
  --z-internal-inline-alignment: start;
  --z-internal-container-inline-size: 100%;
}
