.Menu {
  --z-Action-background: transparent;
  --z-Action-subdued-background: transparent;
  --z-Action-disabled-background: transparent;
  --z-Action-loading-background: transparent;

  --z-internal-Action-inset-content: '';
  --z-internal-Action-inset-display: block;
  --z-internal-Action-inset-none: none;
  --z-internal-Action-inset-block-size: calc(var(--z-spacing-tiny) / 2);
  --z-internal-Action-inset-block-nudge: 0;

  display: var(--z-implicit-display-none, grid);
  grid-template-columns: 1fr;
  padding: var(--z-spacing-small);
  align-items: center;
  min-inline-size: 12rem;
}

.Label {
  position: relative;
  padding: 0 var(--z-spacing-base) calc(var(--z-spacing-small) + 0.125rem);
  font-size: 0.9em;
  color: var(--z-text-subdued-color);

  &::after {
    content: '';
    display: block;
    position: absolute;
    inset-inline: var(--z-spacing-base);
    inset-block-end: calc(var(--z-spacing-small) * 0.5);
    border-top: 2px solid var(--z-border-subdued-color);
  }
}

.Filter {
  padding-block-end: var(--z-spacing-small);
}
