.BlockStack {
  --Stack-spacing: var(--zest-spacing);

  display: grid;
  gap: var(--Stack-spacing);
  justify-content: stretch;
  align-items: center;
  align-content: center;
}

.spacingNone {
  --Stack-spacing: 0;
}

.spacingSmall {
  --Stack-spacing: var(--zest-spacing-small);
}

.spacingLarge {
  --Stack-spacing: var(--zest-spacing-large);
}
