.BlockStack {
  --x-BlockStack-spacing: var(--x-spacing-base);
  gap: var(--x-BlockStack-spacing);
  justify-content: stretch;
  align-items: center;
  align-content: center;
}

.spacingNone {
  --x-BlockStack-spacing: 0;
}

.spacingSmall {
  --x-BlockStack-spacing: var(--x-spacing-small);
}

.spacingLarge {
  --x-BlockStack-spacing: var(--x-spacing-large);
}
