.Icon {
  --z-internal-Icon-size: var(--z-Icon-base-size);
  --z-internal-Icon-color: var(--z-Icon-base-color);

  display: block;
  inline-size: var(--z-internal-Icon-size);
  aspect-ratio: 1;
  pointer-events: none;
  color: var(--z-internal-Icon-color);

  &  > svg {
    display: block;
    inline-size: var(--z-internal-Icon-size);
    aspect-ratio: 1;
  }
}

.sizeFill {
  --z-internal-Icon-size: 100%;
}

.emphasisSubdued {
  --z-internal-Icon-color: var(--z-Icon-subdued-color);
}

.IconHighlight {
  --z-internal-Icon-highlight-size: calc(1.8 * var(--z-Icon-base-size));

  display: inline-flex;
  justify-content: center;
  align-items: center;
  block-size: var(--z-internal-Icon-highlight-size);
  inline-size: var(--z-internal-Icon-highlight-size);
  border-radius: 50%;
  background: var(--Z-Icon-highlight-base-color);
}
