.Icon {
  display: inline-block;
  block-size: var(--z-Icon-base-size);
  pointer-events: none;
  color: var(--z-Icon-base-color);
}

.Icon > svg {
  width: var(--z-Icon-base-size);
  height: var(--z-Icon-base-size);
}
