.Banner {
  --z-surface-background-base: rgb(40 50 86);
  --z-surface-background-subdued: var(--z-surface-background-base);
  --z-surface-background-emphasized: var(--z-surface-background-base);

  --z-border-base-color: rgb(94 119 206);
  --z-border-subdued-color: var(--z-border-base-color);
  --z-border-emphasized-color: var(--z-border-base-color);

  --z-Action-background: rgb(73 87 133);
  --z-Action-hovered-background: rgb(82 99 155);
  --z-Action-focused-background: rgb(82 99 155);
  --z-Action-pressed-background: rgb(97 119 194);
}

.toneCritical {
  --z-surface-background-base: rgb(105, 10, 10);
  --z-border-base-color: rgb(208 33 33);

  --z-Action-background: rgb(150 58 59);
  --z-Action-hovered-background: rgb(185 60 61);
  --z-Action-focused-background: rgb(185 60 61);
  --z-Action-pressed-background: rgb(212 44 45);
}

.tonePositive {
  --z-surface-background-base: rgb(25 70 55);
  --z-border-base-color: rgb(46 160 127);

  --z-Action-background: rgb(25 102 77);
  --z-Action-hovered-background: rgb(24 112 85);
  --z-Action-focused-background: rgb(24 112 85);
  --z-Action-pressed-background: rgb(21 138 102);
}
