.Rating {
  --z-Rating-internal-star-gap: 0.15rem;
  --z-internal-Rating-star-size: 1rem;
  --z-internal-Rating-star-filled-color: rgb(235 234 85);
  --z-internal-Rating-star-was-filled-color: rgb(144 143 42);
  --z-internal-Rating-star-unfilled-color: rgb(133 123 151);
  --z-internal-Rating-star-color: var(--z-internal-Rating-star-unfilled-color);

  display: inline-flex;
  outline: none;
  touch-action: none;
  user-select: none;
  padding: var(--z-spacing-small-2) 0;
  transition: background 0.2s ease, transform 0.15s ease;
}

.interactive {
  --z-internal-Rating-star-size: calc(var(--z-Action-minimum-size) - (2 * var(--z-spacing-small-1)));

  border-radius: var(--z-corner-radius-base);
  background: var(--z-Action-background);
  padding: var(--z-spacing-small-1);

  &:focus,
  &:hover {
    background: var(--z-Action-hovered-background);
  }

  &:active,
  &:focus-visible {
    transform: scale(0.9);
  }
}

.sizeLarge {
  --z-internal-Rating-star-size: 2rem;
  --z-Rating-internal-star-gap: 0.3rem;
}

.StarContainer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--z-Rating-internal-star-gap);
  pointer-events: none;
}

.Star {
  position: relative;
  display: inline-block;
  block-size: var(--z-internal-Rating-star-size);
  inline-size: var(--z-internal-Rating-star-size);
}

.Star-fillFull > .StarIcon,
.Star-fillHalfAndHalf > .StarIcon,
.Star-fillPartial > .StarIcon:first-of-type {
  --z-internal-Rating-star-color: var(--z-internal-Rating-star-filled-color);
}

.Star-fillFullInverse > .StarIcon,
.Star-fillPartialInverse > .StarIcon:first-of-type,
.Star-fillHalfAndHalf > .StarIcon:not(:first-of-type) {
  --z-internal-Rating-star-color: var(--z-internal-Rating-star-was-filled-color);
}

.StarIcon {
  z-index: 5;
  position: absolute;
  inset-inline-start: 0;
  inset-inline-end: 0;
  color: var(--z-internal-Rating-star-color);
  transition: fill 0.1s ease;
  block-size: var(--z-internal-Rating-star-size);
  inline-size: var(--z-internal-Rating-star-size);
  overflow: hidden;

  & > svg {
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    block-size: var(--z-internal-Rating-star-size);
    inline-size: var(--z-internal-Rating-star-size);
  }

  &:first-child {
    z-index: 10;
    inline-size: 50%;
  }
}
