.Rating {
  --z-Rating-star-gap: 0.3rem;
  --z-Rating-star-size: 1.5rem;
  --z-Rating-star-fill: yellow;

  display: inline-block;
  border-radius: var(--z-corner-radius-base);
  background: var(--z-Action-background);
  padding: 0 var(--z-spacing-small);
  outline: none;
  touch-action: none;
  user-select: none;
  transition: background 0.2s ease, transform 0.15s ease;
}

.Rating:focus,
.Rating:hover {
  background: var(--z-Action-hovered-background);
}

.Rating:active,
.Rating:focus {
  transform: scale(0.9);
}

.StarContainer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--z-Action-minimum-size);
  pointer-events: none;
}

.Star {
  height: var(--z-Rating-star-size);
  width: var(--z-Rating-star-size);
}

.Star + .Star {
  margin-left: var(--z-Rating-star-gap);
}

.Star-fillPartial .StarPath:first-of-type {
  fill: var(--z-Rating-star-fill);
}

.Star-fillFull .StarPath,
.Star-fillHalfAndHalf .StarPath {
  fill: var(--z-Rating-star-fill);
}

.Star-fillFullInverse .StarPath {
  fill: var(--z-Rating-star-fill);
  opacity: 0.3;
}

.Star-fillPartialInverse .StarPath:first-of-type {
  fill: var(--z-Rating-star-fill);
  opacity: 0.3;
}

.Star-fillHalfAndHalf .StarPath:not(:first-of-type) {
  opacity: 0.3;
}

.StarPath {
  fill: rgb(120 120 120);
}
