.TextField {
  --z-internal-TextField-corner-radius: var(--z-corner-radius-auto);
  --z-internal-TextField-focus-ring-inset: 0.125rem;
  --z-internal-TextField-focus-ring-opacity: 0;
  --z-internal-TextField-resize: none;
  --z-internal-TextField-maximum-block-size: calc(
    var(--z-internal-TextField-maximum-lines, 1) *
      var(--z-text-auto-line-height) + var(--z-spacing-small-1) * 2
  );
  --z-internal-TextField-minimum-block-size: calc(
    var(--z-internal-TextField-minimum-lines, 1) *
      var(--z-text-auto-line-height) + var(--z-spacing-small-1) * 2
  );

  position: relative;

  &:focus-within {
    --z-internal-TextField-focus-ring-opacity: 1;
  }

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    inset: calc(-1 * var(--z-internal-TextField-focus-ring-inset));
    box-shadow: 0 0 0 0.125rem var(--z-input-focused-border-color);
    border-radius: calc(
      var(--z-internal-TextField-corner-radius) +
        var(--z-internal-TextField-focus-ring-inset)
    );
    opacity: var(--z-internal-TextField-focus-ring-opacity);
    transition: opacity 0.2s ease;
  }
}

.resize {
  --z-internal-TextField-resize: vertical;
}

.multiline {
  display: grid;
}

.growUnbounded {
  --z-internal-TextField-maximum-block-size: none;
}

.Input {
  appearance: none;
  display: block;
  border: var(--z-TextField-border-size) solid var(--z-input-border-color);
  border-radius: var(--z-internal-TextField-corner-radius);
  background: var(--z-input-background);
  width: 100%;
  resize: vertical;
  color: inherit;
  resize: var(--z-internal-TextField-resize);
  overflow: hidden;

  &::placeholder {
    color: var(--z-TextField-placeholder-color);
  }
}

.Input:focus {
  outline: 1px solid transparent;
}

.Input,
.AutoGrowWrap {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1em;
  line-height: var(--z-text-auto-line-height);
  font-family: inherit;
  padding: var(--z-spacing-small-1) var(--z-spacing-auto);
  min-block-size: var(--z-internal-TextField-minimum-block-size);
  max-block-size: var(--z-internal-TextField-maximum-block-size);
}

/* @see https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.AutoGrowWrap {
  white-space: pre-wrap;
  visibility: hidden;
}
