.TextField {
  overflow: hidden;
}

.blockSizeFitContent {
  display: grid;
}

/* @see https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.blockSizeFitContent > .Input {
  resize: none;
  overflow: hidden;
}

.multiline > .Input {
  display: grid;
  min-height: calc(
    var(--x-TextField-lines, 2) * 1em + var(--z-spacing-small) * 2
  );
}

.Input {
  appearance: none;
  display: block;
  border: 1px solid var(--z-input-border-color);
  border-radius: var(--z-corner-radius-base);
  background: none;
  width: 100%;
  resize: vertical;
  color: inherit;
}

.Input:focus {
  outline: none;
  border-color: var(--z-input-focused-border-color);
}

.Input,
.AutoGrowWrap {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1em;
  line-height: 1;
  font-family: inherit;
  padding: var(--z-spacing-small) var(--z-spacing-base);
}

.AutoGrowWrap {
  white-space: pre-wrap;
  visibility: hidden;
}
