:root {
  --z-spacing-tiny: 0.25rem;
  --z-spacing-small: 0.5rem;
  --z-spacing-base: 1rem;
  --z-spacing-large: 1.5rem;
  --z-spacing-huge: 2rem;

  --z-border-base-color: gray;
  --z-border-base-size: 1px;
  --z-border-base-style: solid;
  --z-border-subdued-color: rgb(80 80 80);
  --z-border-subdued-size: 1px;
  --z-border-subdued-style: solid;
  --z-border-emphasized-color: white;
  --z-border-emphasized-size: 1px;
  --z-border-emphasized-style: solid;

  --z-corner-radius-small: 4px;
  --z-corner-radius-base: 6px;

  --z-surface-background-base: rgb(26 21 34);
  --z-surface-background-subdued: var(--z-surface-background-base);
  --z-surface-background-emphasized: var(--z-surface-background-base);

  --z-overlay-background-base: rgb(20 20 20);

  --z-text-base-color: rgb(255 255 255);
  --z-text-base-weight: 400;
  --z-text-subdued-color: rgb(160 160 160);
  --z-text-subdued-weight: var(--z-text-base-weight);
  --z-text-emphasized-color: var(--z-text-base-color);
  --z-text-emphasized-weight: 700;

  --z-action-minimum-size: 2.5rem; /* 44px / 16px */

  --z-action-text-color: var(--z-text-base-color);
  --z-action-background: rgb(26 21 34);
  --z-action-border: 1px solid rgb(50 50 50);
  --z-action-hovered-background: rgb(48 39 63);
  --z-action-hovered-border: var(--z-action-border);
  --z-action-focused-background: var(--z-action-hovered-background);
  --z-action-focused-border: var(--z-action-border);
  --z-action-pressed-background: rgb(82 66 109);
  --z-action-pressed-border: var(--z-action-border);

  --z-action-emphasized-text-color: var(--z-text-base-color);
  --z-action-emphasized-background: rgb(176 29 134);
  --z-action-emphasized-border: none;
  --z-action-emphasized-hovered-background: rgb(192 51 152);
  --z-action-emphasized-hovered-border: var(--z-action-emphasized-border);
  --z-action-emphasized-focused-background: var(--z-action-emphasized-hovered-background);
  --z-action-emphasized-focused-border: var(--z-action-emphasized-border);
  --z-action-emphasized-pressed-background: rgb(205 80 169);
  --z-action-emphasized-pressed-border: var(--z-action-emphasized-border);

  --z-input-border-color: var(--z-border-subdued-color);
  --z-input-focused-border-color: #395ba6;

  --z-stacking-layer-0: 10;
  --z-stacking-layer-1: 20;
  --z-stacking-layer-2: 30;

  --z-internal-divider-inline-size: 0;
  --z-internal-divider-block-size: unset;
}
